base_test_url=http://localhost:8080/collections/
db_url=jdbc:mysql://127.0.0.1:3306/librarycloud_collections
db_user=USER
db_password=PASSWORD
flyway.url=jdbc:mysql://127.0.0.1:3306/librarycloud_collections
flyway.user=USER
flyway.password=PASSWORD
tomcat.path=/collections
tomcat.url=http://127.0.0.1:8080/manager/text
tomcat.user=USER
tomcat.password=PASSWORD
librarycloud.sqs.environment=ENV
aws.access.key=KEY
aws.secret.key=KEY
hdc_key=abcdefg
max_collections_per_user=1000
