base_test_url=http://localhost:8080/collections/
db_url=jdbc:mysql://127.0.0.1:3306/librarycloud_collections
db_user=USER
db_password=PASSWORD
#hold until CollectionDAO tests restored
#flyway.url=jdbc:mysql://127.0.0.1:3306/librarycloud_collections
#flyway.user=USER
#flyway.password=PASSWORD
#librarycloud.sqs.environment=ENV
aws.access.key=KEY
aws.secret.key=KEY
hdc_key=abcdefg
max_collections_per_user=1000
