base_test_url=http://localhost:8080/collections/
db_url=jdbc:mysql://127.0.0.1:3306/librarycloud_collections_test
db_user=librarycloud
db_password=harvard
hdc_key=abcdefg
max_collections_per_user=1000
